{% extends 'main/base.html' %} {% block title %} FIFA WORLD CUP PREDICTOR HOME
{% endblock title %} {% block body %}
<div class="container">
  <h1>Fifa World Cup Predictor</h1>
  <div class="container">
    <div class="groups">
      <label for="cars">Select Group A Group chmapion and runner-up:</label>

      <select name="cars" id="cars">
        <option value="Qatar">Qatar</option>
        <option value="Ecuador">Ecuador</option>
        <option value="Senegal">Senegal</option>
        <option value="Netherlands">Netherlands</option>
      </select>
    </div>
  </div>




  {% endblock body %}